body {
    display: grid;
    background-color: hsl(220, 15%, 55%);
    font-family: 'Jost', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    height: 50vh;
    background-color: hsl(0, 0%, 100%);
    width: 18vw;
    border-radius: 15px;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-top: 20px;
    text-align: center;
}

#tag-line {
    font-weight: 700;
    font-size:large;
    margin-bottom: 20px;
    text-align: center;
}

img {
    height: 30vh;
    width: 18vw;
    margin-bottom: 20px;
    border-radius: 10px;
}

#desc {
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
}